<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<system.serviceModel>
		<services>
			<service name="DocumentManagement.UserService" behaviorConfiguration="UserServiceBehavior">
				<endpoint address="UserService" binding="basicHttpBinding" contract="DocumentManagement.IUserService"/>
				<endpoint address="mex"
		  binding="mexHttpBinding"
		  contract="IMetadataExchange">
				</endpoint>
				
			</service>
		</services>
		<behaviors>
			<serviceBehaviors>
				<behavior name="UserServiceBehavior">
					<serviceMetadata httpGetEnabled="true" />
				</behavior>
			</serviceBehaviors>
		</behaviors>
	</system.serviceModel>
</configuration>